$colorBlue: #1479ff;
//$colorDefault: #f2f7fd;
$colorDefault: #e8f2ff;
$colorWhite: white;
$colorBlack: black;
$color: white;
$colorWhite: white;
$colorGray: #b9b9b9;
$colorDarkBlue: #1b2c69;
$colorTitle: #283150;
$colorWorker: #92b0d8;
$colorUserCall: #2b568f;
$colorInputBorder: #8c8c8c;
$colorInput: #a4a4a4;
$colorLogo: #818181;
$colorScroll: #1478fd;
$fontGilroy: 'Gilroy', 'system-ui', 'Arial', sans-serif;
