@import "../abstract/vars";
.booking-dialog{
  tr{
    background-color: #F5F6F8;
    margin-bottom: 0px !important;
  }
  .p-dialog-header{
    padding: 25px 25px 15px 25px;
    background-color: #F5F6F8;
  }.p-dialog-content,.p-dialog-footer{
    background-color: #F5F6F8;
  }
  .p-dialog-content{
    padding: 0px 25px;
  }
  .p-dialog-footer{
    padding: 10px 25px 15px 25px;
  }
  .p-dialog-header .p-dialog-title{
    color: var(--primary-black, #000);
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 14.5px;
  }
  .formgrid{
    label{
      color: var(--grey-70, #7E92A2) !important;
      font-family: Gilroy;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: 18.5px;
    }
    .p-dropdown-label{
      color: var(--primary-navy, #092C4C);
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
    }
    .field{
      color: var(--primary-navy, #092C4C);
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      border: 1px solid #7E92A2;
    }.field::placeholder{
      color: var(--primary-navy, #7E92A2);
    }
    .p-placeholder{
      font-family: Gilroy;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px;
      color: var(--primary-navy, #7E92A2);
    }

    .p-dropdown{
      svg{
        color: var(--primary-navy, #7E92A2);
      }

    }
    .p-inputwrapper-filled{
      svg{
        color: var(--primary-navy, #092C4C) !important;
      }
    }
  }
  .p-datatable.p-datatable-sm .p-datatable-thead > tr > th:first-child{
    width: 60%;
  }
  .p-datatable.p-datatable-sm .p-datatable-thead > tr > th{
    color: var(--grey-90, #526477);
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18.5px;
    background: #F5F6F8;
  }
  td{
    color: black !important;
    padding: 7px !important;
    color: var(--primary-navy, #092C4C);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    font-variant: tabular-nums;
    cursor: pointer;
  }
  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover{
    background:transparent;
  }
  .p-datatable.p-datatable-hoverable-rows .p-datatable-thead tr th:last-child{
    @media screen and (max-width: 600px){
      width: 100%;
    }
  }
  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover td:first-child{
    border-top-left-radius: 7px !important;
    border-bottom-left-radius: 7px !important;
    background: white;
    @media screen and (max-width: 600px){
      border-bottom-left-radius: 0px !important;
      border-top-right-radius: 7px !important;
    }
  }
  .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover td:last-child{
    border-top-right-radius: 7px !important;
    border-bottom-right-radius: 7px !important;
    background: white;
    @media screen and (max-width: 600px){
      border-top-right-radius: 0px !important;
      border-bottom-left-radius: 7px !important;
    }
  }


}
